:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --accent-color: rgb(248, 8, 8);
  --highlight-color: rgb(255, 165, 0);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: 100px 0;
}

h1,
h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  background-color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

footer {
  background-color: var(--branding-color);
  padding: 10px 15px;
  font-size: 17px;
}
.contact-page-info a {
  color: var(--branding-color);
}
.contact-page-info a:hover {
  color: var(--accent-color);
}
.open {
  text-align: center;
  font-size: 16px;
  color: var(--main-color);
}

.contact-links {
  display: flex;
  justify-content: center;
}
i {
  color: var(--highlight-color);
  padding: 20px;
  transition: all 100ms ease-in-out;
}

i:hover {
  color: var(--accent-color);
}

.email {
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: none;
  color: var(--branding-color);
}
.email:hover {
  text-decoration: underline;
}
.about-text {
  display: block;
  text-align: center !important;
  margin: 30px 0;
  font-size: 80px;
  font-weight: bold;
  padding-bottom: 30px;
}
.about-text p {
  margin: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.links {
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.links a {
  margin-top: 40px;
  margin-bottom: 45px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.contact-link {
  background-color: var(--branding-color);
  box-shadow: var(--box-shadow);
  color: white;
  margin: 20px;
}
.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  margin: 20px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 576px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .contact-header {
    padding-top: 60px;
    padding-bottom: 145px;
  }
}
